/* color schemes: */
:root {
	--text: 247, 75%, 5%;
	--text2: 0, 0%, 100%;
	--background: 300, 3%, 94%;
	--secondary: 240, 60%, 99%;
	--primary: 243, 68%, 48%;
	--accent: 242, 100%, 62%;
	--approve: 120, 100%, 20%;
}

html,
body {
	height: 100%;
	font-size: 14px;
}

/* for the scroll bar */
::-webkit-scrollbar {
	width: 15px;
	border-radius: 8px; /* Add rounded corners */
}
::-webkit-scrollbar-track {
	background: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
	background: hsl(var(--secondary));
	border: 2px solid hsl(var(--text));
	border-radius: 5px; /* Add rounded corners */
}
